@font-face {
  font-family: "Bau";
  src: url("bau/Bau-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Bau";
  src: url("bau/Bau-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Bau";
  src: url("bau/Bau-Bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Bau";
  src: url("bau/Bau-Black.ttf");
  font-weight: 700;
}


@font-face {
  font-family: "Input";
  src: url("input/InputSerifCondensed-ExtraLight.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Input";
  src: url("input/InputSerifCondensed-ExtraLightItalic.ttf");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Input";
  src: url("input/InputSerifCondensed-Thin.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Input";
  src: url("input/InputSerifCondensed-ThinItalic.ttf");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Input";
  src: url("input/InputSerifCondensed-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Input";
  src: url("input/InputSerifCondensed-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Input";
  src: url("input/InputSerifCondensed-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Input";
  src: url("input/InputSerifCondensed-RegularItalic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Input";
  src: url("input/InputSerifCondensed-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Input";
  src: url("input/InputSerifCondensed-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Input";
  src: url("input/InputSerifCondensed-Bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Input";
  src: url("input/InputSerifCondensed-BoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Input";
  src: url("input/InputSerifCondensed-Black.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Input";
  src: url("input/InputSerifCondensed-BlackItalic.ttf");
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: "Input";
  src: url("input/InputSerifCondensed-BlackItalic.ttf");
  font-weight: 700;
  font-style: italic;
}



@font-face {
  font-family: "Input";
  src: url("input/InputSerifCondensed-BlackItalic.ttf");
  font-weight: 700;
  font-style: italic;
}*/

@font-face {
  font-family: "Pantograph Trial";
  src: url("colophon/pantograph-light-trial.otf")
  font-weight: 300;
}

@font-face {
  font-family: "Pantograph Trial";
  src: url("colophon/pantograph-regular-trial.otf")
  font-weight: 400;
}

@font-face {
  font-family: "Pantograph Trial";
  src: url("colophon/pantograph-medium-trial.otf")
  font-weight: 500;
}

@font-face {
  font-family: "Pantograph Trial";
  src: url("colophon/pantograph-semibold-trial.otf")
  font-weight: 600;
}

@font-face {
  font-family: "Pantograph Trial";
  src: url("colophon/pantograph-bold-trial.otf")
  font-weight: 700;
}

@font-face {
  font-family: "Pantograph Trial Condensed";
  src: url("colophon/pantograph-condensed-light-trial.otf")
  font-weight: 300;
}

@font-face {
  font-family: "Pantograph Trial Condensed";
  src: url("colophon/pantograph-condensed-regular-trial.otf")
  font-weight: 400;
}

@font-face {
  font-family: "Pantograph Trial Condensed";
  src: url("colophon/pantograph-condensed-medium-trial.otf")
  font-weight: 500;
}

@font-face {
  font-family: "Pantograph Trial Condensed";
  src: url("colophon/pantograph-condensed-semibold-trial.otf")
  font-weight: 600;
}

@font-face {
  font-family: "Pantograph Trial Condensed";
  src: url("colophon/pantograph-condensed-bold-trial.otf")
  font-weight: 700;
}


@font-face {
  font-family: "Pantograph Trial Compressed";
  src: url("colophon/pantograph-compressed-light-trial.otf")
  font-weight: 300;
}

@font-face {
  font-family: "Pantograph Trial Compressed";
  src: url("colophon/pantograph-compressed-regular-trial.otf")
  font-weight: 400;
}

@font-face {
  font-family: "Pantograph Trial Compressed";
  src: url("colophon/pantograph-compressed-medium-trial.otf")
  font-weight: 500;
}

@font-face {
  font-family: "Pantograph Trial Compressed";
  src: url("colophon/pantograph-compressed-semibold-trial.otf")
  font-weight: 600;
}

@font-face {
  font-family: "Pantograph Trial Compressed";
  src: url("colophon/pantograph-compressed-bold-trial.otf")
  font-weight: 700;
}


@font-face {
  font-family: "Montefiore";
  src: url("colophon/montefiore-condensed-thin-trial.otf")
  font-weight: 200;
}

@font-face {
  font-family: "Montefiore";
  src: url("colophon/montefiore-condensed-light-trial.otf")
  font-weight: 300;
}

@font-face {
  font-family: "Montefiore";
  src: url("colophon/montefiore-condensed-regular-trial.otf")
  font-weight: 400;
}

@font-face {
  font-family: "Montefiore";
  src: url("colophon/montefiore-condensed-semibold-trial.otf")
  font-weight: 500;
}

@font-face {
  font-family: "Montefiore";
  src: url("colophon/montefiore-condensed-bold-trial.otf")
  font-weight: 600;
}

@font-face {
  font-family: "Montefiore";
  src: url("colophon/montefiore-condensed-extrabold-trial.otf")
  font-weight: 700;
}

